body {
  background-color: #8c52ff;
  background-image: linear-gradient(90deg, #8c52ff 0%, #5ce1e6 100%);
  overflow: hidden;
}

.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.homePageContent {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.logo-container {
  margin-bottom: 2rem;
}

.logo {
  width: 50%;
  height: auto;
  max-width: 300px;
  transform: scale(0.75);
}

.startButton {
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background-color: #fff;
  color: #8c52ff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.startButton:hover {
  background-color: #f2f2f2;
}

/* .hide {
  display: hide;
} */

.BgGraphics {
  z-index: 1;
  position: absolute;
  transform: scale(0.9);
  overflow: hidden;
}

.logoMain{
  padding-top: 0px;
  transform: scale(0.5);
}

.btn {
  background-color:#D0FF96;
  font-size: 250%;
  font-weight: bold;
  border: black solid;
  border-radius: 20px;
}