.logo {
    transform: scale(0.7);
}

.background-elements {
    z-index: 1;
    position:absolute;
    transform: scale(1.1);
}

.initials-form {
    z-index: 999999;
    position:absolute;
    
}

.btn {
padding-top: 2%;
margin-top: 170%;
background-color:#D0FF96;
font-size: 250%;
font-weight: bold;
border: black solid;
border-radius: 20px;
}