.leaderboard {
    background-image: url('/assets/2D-BG-Elements.png'), linear-gradient(90deg, #8c52ff, #5ce1e6);
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: contain;
    height: 100vh;
    overflow: hidden;
    
  }


.background-elements{
    z-index:1;
    position: absolute;

}

.scoreContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    z-index: 3;
    position: relative;
    padding-top: 2%;
    margin-top: 170%;
    background-color:#D0FF96;
    font-size: 250%;
    font-weight: bold;
    border: black solid;
    border-radius: 20px;
}

.leaderboardIcons {
   height: 50px;
   z-index: 2;

}


.scores {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;

}

@media (max-width:768px) {
    .logoleaderboard{
        width: 50%;

    }
    .logoContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


