/* Hover effect for General Knowledge card */
.GenKno:hover{
    fill:whitesmoke
 }

 /* General Knowledge Card - make background and border transparent */
 .categoryBtn {
    background-color: transparent;
    border: none;
    padding:0;
 }