.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Set minimum height to fill the viewport */
  min-height: 100vh;
  /* Add more styles as needed */
  width: 100%;
  height: 100%;
}
